name: Build APK
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: '22'
      - name: set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'zulu'
      - run: npm install
      - run: npm install @capacitor/android
      - run: npx cap sync android
      - name: Build with Gradle
        run: |
          cd android
          chmod +x gradlew
          ./gradlew assembleRelease -Dorg.gradle.java.home=$JAVA_HOME_21_X64
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: my-app-apk
          path: android/app/build/outputs/apk/release/*.apk
